@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Management</h1>
</div>

<div class="row">
    <div class="col-md-4">
       
        <p>
            Event Management is the right place to organize events their respective volunteers and the assignments alloted to them, here all the details are visible to every individual which helps to conduct different events in an organized manner. 
        </p>
    </div>
</div>