<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pthimmojievent.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pthimmojievent.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pthimmojievent</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pthimmojievent</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jtym68es4t.database.windows.net,1433;Initial Catalog=EventManagementDB;User ID=eventmanageradmin@jtym68es4t;Password=Swordfish@0809" Name="Data Source=tcp:jtym68es4t.database.windows.net,1433;Initial Catalog=EventManagementDB;User Id=eventmanageradmin@jtym68es4t;Password=Swordfish@0809" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EventManagement.DAL.EventContext, EventManagement" MigrationConfiguration="EventManagement.Migrations.Configuration, EventManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EventContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jtym68es4t.database.windows.net,1433;Initial Catalog=EventManagementDB;User Id=eventmanageradmin@jtym68es4t;Password=Swordfish@0809</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>